
    <link rel="stylesheet" type="text/css" href="http://staticfile.tujia.com/portalsite2/styles/css_index?v=2.2" />

    <script type="text/javascript" src="http://staticfile.tujia.com/PortalSite2/scripts/base/jquery.js?v=2.2"></script>
    
    <script type="text/javascript" src="http://staticfile.tujia.com/PortalSite2/scripts/js_index_head?v=2.2"></script>
    <script src="http://api.map.baidu.com/api?key=0da25a1d9d14e87463c8d5a419209498&amp;v=1.1&amp;services=false"
        type="text/javascript"></script>

<div class="row">
	<div class="span5">
		<div id="myCarousel" class="carousel slide">
		    <div class="carousel-inner">
		    		<%  @banners.each do |banner| %>
		      <div class="item">
		        <%= image_tag(banner.attachment.attach) %>
		        <div class="carousel-caption">
		          <p class="pull-right"><a href="<%= banner.link %>" target="_blank"><%= banner.link_text %></a></p>
		        </div>
		      </div>
		      <% end %>
		    </div>
		    
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
</div>