<div class="row">
	<div class="span5">
		<div id="myCarousel" class="carousel slide">
		    <div class="carousel-inner">
		    		<%  @banners.each do |banner| %>
		      <div class="item">
		        <%= image_tag(banner.attachment.attach) %>
		        <div class="carousel-caption">
		          <p class="pull-right"><a href="<%= banner.link %>" target="_blank"><%= banner.link_text %></a></p>
		        </div>
		      </div>
		      <% end %>
		    </div>
		    
		    <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
		    <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		</div>
	</div>
</div>