
<div class="container_24">
  <div class="grid_24" id="dir"><a href="http://www.tujia.com">国内站</a><em>&gt;</em>我的订单</div>
</div>
<div class="container_24 clearfix" id="orderWrapper">
  <div class="grid_5">
    <div class="user clearfix">
      <div class="userInfo"><strong><%= current_user.email if current_user %></strong>积分：<span class="integral">700</span></div>
    </div>
    <div class="menu">
      <ul>
        <li><a id="myorders" href="/UserInfo/OrderList/">我的订单</a></li>
        <li><a id="mycomments" href="/UserInfo/CommentList/">点评</a></li>
        <li><a id="myinfo" href="/UserInfo/Info/">个人资料</a></li>
        <li><a id="mycredits" href="/UserInfo/Credits/">我的积分</a></li>
        <li><a id="mypassword" href="/UserInfo/ChangePassword/">修改密码</a></li>
      </ul>
    </div>
  </div>
  <div class="grid_19" id="order">

    <div class="orderHead"><h4>我的订单</h4></div>

    <div class="tabbable"> <!-- Only required for left/right tabs -->
      <ul class="nav nav-tabs">
        <li class="active"><a href="#all-orders" data-toggle="tab">全部订单</a></li>
        <li><a href="#unpay-orders" data-toggle="tab">未付款订单</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="all-orders">
          <ul class="orderList">
            <% if @orders.empty? %>
              <p>您没有的订单。</p><br>
            <% else %>
               <% @orders.each do |order| %>
                 <%= render order, detail: false %>
               <% end %> 
            <% end %>
          </ul>
        </div>
        <div class="tab-pane" id="unpay-orders">
          <ul class="orderList">
            <% if @orders_unpay.empty? %>
              <p>您没有未付款的订单。</p><br>
            <% else %>
              <% @orders_unpay.each do |order| %>
                <%= render order, detail: false %>
              <% end %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="pages">
      <!--MvcPager 1.5 for ASP.NET MVC 3.0 © 2009-2011 Webdiyer (http://www.webdiyer.com)-->
    </div>

    <div class="mask dn" id="cancelOrder">
      <div class="tit"><strong>取消订单</strong> <a href="javascript:;" class="closeBtn closeLayer" title="关闭"></a></div>
      <div class="cancelContent">
        <p>取消订单不可恢复，是否取消？ <span><a href="javascript:;" class="button button03 makecancel">取消订单</a><a href="javascript:;" class="button button03 closeLayer">不取消</a></span></p>  
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var staticFileRoot = "http://staticfile.tujia.com",
minDate = "2012-12-08",
maxDate = "2013-11-08",
houseId;
</script>

<script type="text/javascript" src="http://staticfile.tujia.com/PortalSite2/scripts/js_common_foot?v=2.2"></script>
<script type="text/javascript">

$("#myorders").addClass("current");

$(".formBox input[name=order]").bind("click", function () {
  if ($(this).attr("checked")) {
    window.location.href = $(this).attr("link");
  }
});
$("a[data-cancelorder-btn]").live("click", function () {
  var $self = $(this);

  $self.overlay({
    top: "20%",
    mask: {
      color: '#000',
      loadSpeed: 100,
      opacity: 0.5
    },
    target: "#cancelOrder",
    closeOnClick: false,
    close: ".closeLayer",
    load: true,
    onLoad: function () {
      var that = this;
      that.getOverlay().find("a.makecancel").unbind().bind("click", function () {
        var link = $self.attr("href");
        $(this).text("正在取消");
        $.post(link, function (data) {
          if (data.IsSucces) {
            window.location.reload();
          } else {
            that.getOverlay().find("div.cancelContent").html('<p>' + data.Message + '<span><a href="#" class="button button03 closeLayer">关 闭</a></span></p>');
          }
        });
      })
    }
  });
  return false;
});
</script>

