

<div class="container_24" id="footerDestinationBox">
    <div class="grid_24 mt10" id="footerDestination">
        <h4>途家度假公寓：</h4>
        <ul>
            
                    <li><a href="/sanya_gongyu/" target="_blank">三亚酒店式公寓</a></li>
                
                    <li><a href="/hangzhou_gongyu/" target="_blank">杭州酒店式公寓</a></li>
                
                    <li><a href="/chengdu_gongyu/" target="_blank">成都酒店式公寓</a></li>
                
                    <li><a href="/nanjing_gongyu/" target="_blank">南京酒店式公寓</a></li>
                
                    <li><a href="/xiamen_gongyu/" target="_blank">厦门酒店式公寓</a></li>
                
                    <li><a href="/qingdao_gongyu/" target="_blank">青岛酒店式公寓</a></li>
                
                    <li><a href="/guilin_gongyu/" target="_blank">桂林酒店式公寓</a></li>
                
                    <li><a href="/suzhou_gongyu/" target="_blank">苏州酒店式公寓</a></li>
                
                    <li><a href="/lijiang_gongyu/" target="_blank">丽江酒店式公寓</a></li>
                
                    <li><a href="/xitang_gongyu/" target="_blank">西塘酒店式公寓</a></li>
                
                    <li><a href="/dali_gongyu/" target="_blank">大理酒店式公寓</a></li>
                
                    <li><a href="/xian_gongyu/" target="_blank">西安酒店式公寓</a></li>
                
                    <li><a href="/dalian_gongyu/" target="_blank">大连酒店式公寓</a></li>
                
                    <li><a href="/chongqing_gongyu/" target="_blank">重庆酒店式公寓</a></li>
                
                    <li><a href="/weihai_gongyu/" target="_blank">威海酒店式公寓</a></li>
                
                    <li><a href="/yantai_gongyu/" target="_blank">烟台酒店式公寓</a></li>
                
                    <li><a href="/penglai_gongyu/" target="_blank">蓬莱酒店式公寓</a></li>
                
                    <li><a href="/guangzhou_gongyu/" target="_blank">广州酒店式公寓</a></li>
                
                    <li><a href="/huangshan_gongyu/" target="_blank">黄山酒店式公寓</a></li>
                
                    <li><a href="/shanghai_gongyu/" target="_blank">上海酒店式公寓</a></li>
                
                    <li><a href="/zhouzhuang_gongyu/" target="_blank">周庄酒店式公寓</a></li>
                
                    <li><a href="/wuxi_gongyu/" target="_blank">无锡酒店式公寓</a></li>
                
                    <li><a href="/ningbo_gongyu/" target="_blank">宁波酒店式公寓</a></li>
                
                    <li><a href="/jinan_gongyu/" target="_blank">济南酒店式公寓</a></li>
                
                    <li><a href="/zhoushan_gongyu/" target="_blank">舟山酒店式公寓</a></li>
                
                    <li><a href="/wenchang_gongyu/" target="_blank">文昌酒店式公寓</a></li>
                
                    <li><a href="/jiuzhaigou_gongyu/" target="_blank">九寨沟酒店式公寓</a></li>
                
                    <li><a href="/changzhou_gongyu/" target="_blank">常州酒店式公寓</a></li>
                
                    <li><a href="/yanan_gongyu/" target="_blank">延安酒店式公寓</a></li>
                
                    <li><a href="/zhenjiang_gongyu/" target="_blank">镇江酒店式公寓</a></li>
                
                    <li><a href="/yangzhou_gongyu/" target="_blank">扬州酒店式公寓</a></li>
                
                    <li><a href="/yingkou_gongyu/" target="_blank">营口酒店式公寓</a></li>
                
                    <li><a href="/zaozhuang_gongyu/" target="_blank">枣庄酒店式公寓</a></li>
                
                    <li><a href="/xuyi_gongyu/" target="_blank">盱眙酒店式公寓</a></li>
                
                    <li><a href="/boao_gongyu/" target="_blank">博鳌(琼海)酒店式公寓</a></li>
                
                    <li><a href="/pingyao_gongyu/" target="_blank">平遥酒店式公寓</a></li>
                
                    <li><a href="/wanning_gongyu/" target="_blank">万宁酒店式公寓</a></li>
                
                    <li><a href="/lushan_gongyu/" target="_blank">庐山酒店式公寓</a></li>
                
                    <li><a href="/kunming_gongyu/" target="_blank">昆明酒店式公寓</a></li>
                
                    <li><a href="/kunshan_gongyu/" target="_blank">昆山酒店式公寓</a></li>
                
                    <li><a href="/beijing_gongyu/" target="_blank">北京酒店式公寓</a></li>
                
                    <li><a href="/shenzhen_gongyu/" target="_blank">深圳酒店式公寓</a></li>
                
                    <li><a href="/hefei_gongyu/" target="_blank">合肥酒店式公寓</a></li>
                
                    <li><a href="/wuzhishan_gongyu/" target="_blank">五指山酒店式公寓</a></li>
                
                    <li><a href="/zhuhai_gongyu/" target="_blank">珠海酒店式公寓</a></li>
                
                    <li><a href="/nantong_gongyu/" target="_blank">南通酒店式公寓</a></li>
                
                    <li><a href="/yancheng_gongyu/" target="_blank">盐城酒店式公寓</a></li>
                
                    <li><a href="/wuhan_gongyu/" target="_blank">武汉酒店式公寓</a></li>
                
                    <li><a href="/tengchong_gongyu/" target="_blank">腾冲酒店式公寓</a></li>
                
                    <li><a href="/wuyuan_gongyu/" target="_blank">婺源酒店式公寓</a></li>
                
                    <li><a href="/qixia_gongyu/" target="_blank">栖霞(烟台)酒店式公寓</a></li>
                
                    <li><a href="/emeishan_gongyu/" target="_blank">峨眉山酒店式公寓</a></li>
                
                    <li><a href="/lianyungang_gongyu/" target="_blank">连云港酒店式公寓</a></li>
                
                    <li><a href="/dujiangyan_gongyu/" target="_blank">都江堰酒店式公寓</a></li>
                
                    <li><a href="/xishuangbanna_gongyu/" target="_blank">西双版纳酒店式公寓</a></li>
                
                    <li><a href="/puershi_gongyu/" target="_blank">普洱市酒店式公寓</a></li>
                
        </ul>  
             
    </div>
</div>
<div id="public_footer" class="container_24 mt20 cc pt20 pb50">
  <div class="grid_24">
    <a href="http://content.tujia.com/index.shtml" target="_blank" class="forst" rel="nofollow">关于我们</a>|<a href="http://content.tujia.com/business.shtml" target="_blank" rel="nofollow">业务介绍</a>|<a href="http://content.tujia.com/joinus.shtml" target="_blank" rel="nofollow">加入Canary</a>|<a href="http://content.tujia.com/help.shtml" target="_blank" rel="nofollow">帮助中心</a>|<a href="/SiteMap/UnitDestination/" target="_blank">网站地图</a>
    <p>&copy; Copyright 2012 tujia.com 途家&nbsp;&nbsp;&nbsp;&nbsp;版权所有&nbsp;&nbsp;&nbsp;&nbsp;不得转载<br />京ICP备11043397号</p>  
  </div>
  
</div>

<!-- footer  End -->

                <div id="kefuWrap"><a href="javascript:;" rel="nofollow" onclick="window.open('http://content.tujia.com/kefu.htm','_blank','height=473,width=703,fullscreen=3,top=200,left=200,status=no,toolbar=no,menubar=no,resizable=no,scrollbars=no,location=no,titlebar=no,fullscreen=no');return false;"><img width="40" height="65" alt="在线客服" src="http://staticfile.tujia.com/PortalSite2/Images/kefucall.jpg" /></a></div>
    