<link rel="stylesheet" type="text/css" href="http://staticfile.tujia.com/portalsite2/styles/css_list?v=2.2" />


<%- model_class = Banner -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#on-shelf" data-toggle="tab">On Shelf</a></li>
    <li><a href="#off-shelf" data-toggle="tab">Off Shelf</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="on-shelf">
      <%= render :partial => "banners", :locals => { :banners => @banners_onshelf } %>
    </div>


    <div class="tab-pane" id="off-shelf">
      <%= render :partial => "banners", :locals => { :banners => @banners_offshelf } %>
    </div>
  </div>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_banner_path,
            :class => 'btn btn-primary' %>
