<!-- 点评列表  Start -->
<div id="commentTitle">
  <ul class="menu">
    <li><a href="javascript:;" class="current">入住点评</a></li>
  </ul>
    
</div>
<div class="commentContent">
    <p class="msg" style="margin-top:10px">途家网所有点评均为<strong style=" font-weight:bold; color:#f60; margin:0 8px">100%真实入住</strong>点评。</p>
    <div class="clearfix">
        <div class="housingScore fl" id="unitCommentSummaryPanel"></div>
        <div class="companyScore fl" id="hotelCommentSummaryPanel"></div>
    </div>

    <div id="comment-list">
        
        <div class="bottomLine">
        <em></em>
        
        </div>
    </div>
</div>
<!-- 点评列表  End -->