<link rel="stylesheet" type="text/css" href="http://staticfile.tujia.com/portalsite2/styles/css_list?v=2.2" />

<script type="text/javascript" src="http://staticfile.tujia.com/PortalSite2/scripts/js_list_head?v=2.2"></script>
<script type="text/javascript">
        var isCityChanged = true;
    </script>


<div class="container_24" >
	<div class="grid_24" id="dir"><a href="http://www.tujia.com">国内站</a><em>&gt;</em><a href="/xiamen_gongyu/">厦门</a>
    
      <h1 class="none">厦门万达公寓酒店式公寓,家庭旅馆,厦门住宿,日租房,短租房,度假公寓</h1>
    
    </div>
</div>

<div class="container_24">
        
       <div class="grid_24"><img src="http://staticfile.tujia.com/upload/config/day_120830/201208300411107760.jpg" alt="厦门" title="厦门" width="950" height="100" /></div> 
    
</div>
<div class="container_24 mt5" id="search">
	<div class="grid_24" id="formBox">
        <form method="get" action="/xiamen_gongyu"  id="mainSearchForm">
			<div class="grid_20 alpha omega" id="searchleft">
				<div class="selheadBox  fl">
                    <label for="" class="lb fl">目的地</label><span id="currentDestination" class="dn">厦门</span>
					<div class="select fl ovh"><select id="destinationSelect" name="destinationId"><option  value="1" name="sanya" data-show="True">三亚</option><option  value="7" name="hangzhou" data-show="True">杭州</option><option  value="10" name="chengdu" data-show="True">成都</option><option  value="9" name="nanjing" data-show="True">南京</option><option selected="selected" value="33" name="xiamen" data-show="True">厦门</option><option  value="8" name="qingdao" data-show="True">青岛</option><option  value="32" name="guilin" data-show="True">桂林</option><option  value="11" name="suzhou" data-show="True">苏州</option><option  value="12" name="lijiang" data-show="True">丽江</option><option  value="28" name="xitang" data-show="True">西塘</option><option  value="36" name="dali" data-show="True">大理</option><option  value="17" name="xian" data-show="True">西安</option><option  value="18" name="dalian" data-show="True">大连</option><option  value="22" name="chongqing" data-show="True">重庆</option><option  value="30" name="weihai" data-show="True">威海</option><option  value="44" name="yantai" data-show="True">烟台</option><option  value="29" name="penglai" data-show="True">蓬莱</option><option  value="45" name="guangzhou" data-show="True">广州</option><option  value="6" name="huangshan" data-show="True">黄山</option><option  value="23" name="shanghai" data-show="True">上海</option><option  value="13" name="zhouzhuang" data-show="True">周庄</option><option  value="14" name="wuxi" data-show="True">无锡</option><option  value="16" name="ningbo" data-show="True">宁波</option><option  value="19" name="jinan" data-show="True">济南</option><option  value="20" name="zhoushan" data-show="True">舟山</option><option  value="4" name="wenchang" data-show="True">文昌</option><option  value="15" name="jiuzhaigou" data-show="True">九寨沟</option><option  value="21" name="changzhou" data-show="True">常州</option><option  value="25" name="yanan" data-show="True">延安</option><option  value="27" name="zhenjiang" data-show="True">镇江</option><option  value="26" name="yangzhou" data-show="True">扬州</option><option  value="35" name="yingkou" data-show="True">营口</option><option  value="38" name="zaozhuang" data-show="True">枣庄</option><option  value="34" name="xuyi" data-show="True">盱眙</option><option  value="2" name="boao" data-show="True">博鳌(琼海)</option><option  value="37" name="pingyao" data-show="True">平遥</option><option  value="43" name="wanning" data-show="True">万宁</option><option  value="42" name="lushan" data-show="True">庐山</option><option  value="31" name="kunming" data-show="True">昆明</option><option  value="46" name="kunshan" data-show="True">昆山</option><option  value="48" name="beijing" data-show="True">北京</option><option  value="49" name="shenzhen" data-show="True">深圳</option><option  value="50" name="hefei" data-show="True">合肥</option><option  value="3" name="wuzhishan" data-show="True">五指山</option><option  value="51" name="zhuhai" data-show="True">珠海</option><option  value="52" name="nantong" data-show="True">南通</option><option  value="54" name="yancheng" data-show="True">盐城</option><option  value="55" name="wuhan" data-show="True">武汉</option><option  value="56" name="tengchong" data-show="True">腾冲</option><option  value="59" name="wuyuan" data-show="True">婺源</option><option  value="47" name="qixia" data-show="True">栖霞(烟台)</option><option  value="40" name="emeishan" data-show="True">峨眉山</option><option  value="39" name="lianyungang" data-show="True">连云港</option><option  value="41" name="dujiangyan" data-show="True">都江堰</option><option  value="58" name="xishuangbanna" data-show="True">西双版纳</option><option  value="61" name="puershi" data-show="True">普洱市</option></select></div>
                </div>
                <div class="textBox  fl">
                    <label for="startDate" class="lb pr fl"><b class="vm dib">入住</b>	<span><input class="date  pl5 pr5 ml5" id="startDate" name="startDate" type="text" value="" /><b class="datewatermark datewatermark_list">yyyy-mm-dd</b></span></label>
                </div>
                <div class="textBox  fl">
                    <label for="endDate" class="lb pr fl"><b class="vm dib">退房</b>
					<span><input class="date  pl5 pr5 ml5" id="endDate" name="endDate" type="text" value="" /><b class="datewatermark datewatermark_list">yyyy-mm-dd</b></span></label>
                </div>
                 <div class="selheadBox fl" id="optional">
                    <label for="" class="lb  fl">可选条件</label>
					<div class="count fl" style="border-right: 1px solid #E6E6E6;">
                        <select id="criteriaSelect" name="criteria">
                            <option value="0" selected>人数</option>
                            <option value="1" >床数</option>
                            <option value="2" >卧室数</option>
                        </select>
                        <div class="drop fl" id="criteriaval">
                                <select class="dn" disabled="True" id="GuestCount" name="GuestCount"><option selected="selected" value="0">不限</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8+</option>
</select>
                                <select class="dn" disabled="False" id="bedCount" name="bedCount"><option selected="selected" value="0">不限</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5+</option>
</select>
                                <select class="dn" disabled="False" id="roomCount" name="roomCount"><option selected="selected" value="0">不限</option>
<option value="1">一室</option>
<option value="2">二室</option>
<option value="3">三室及以上</option>
</select>
                        </div>
					</div>
					<label id="addbedWrap" class="lb fl dn cur"><input id="AttachBed" name="AttachBed" type="checkbox" value="true" /><input name="AttachBed" type="hidden" value="false" /><span class="vm pl5">我能接受加床  <img src="http://staticfile.tujia.com/portalsite2/images/help2.gif" alt="" class="vtb" /></span></label>
                    <textarea id="tooltip_addbedTotip_html" class="dn">
                            <div id="addbedContent">加床服务：服务人员在您所选房屋内增加单人床、床上用品与洗浴用品。<span>(具体费用见房屋介绍页面)</span></div>
                    </textarea>
                </div>
			</div>
			<div class="grid_4 alpha omega mt3 tr "><input type="submit" value="立即搜索" id="submit" /></div>
		</form>
	</div>
</div>

<div class="container_24 mt5" id="optionsFullPanel">
	<div class="grid_24 clearfix" id="filtersPanel">
		<dl class="clearfix">
			<dt>您已选择：</dt>
			<dd>
            
                  <span><em>小区：</em><strong class="cf60">万达公寓</strong><a href="/xiamen_gongyu/" target="_self"><img title="关闭" alt="关闭" src="http://staticfile.tujia.com/PortalSite2/images/close.png" class="vm pl5" /></a></span>
                 </dd>
		</dl>
	</div>
	<div id="lsitBox" class="container_24 fl mt5 clearfix">
        
            <ul class="clearfix   ml5 mr5 pb5 ovh">
                <li class="grid_4 alpha omega">景区：<a  href="javascript:void(0);" target="_self" class="selected">不限</a></li>
                
                <li class="grid_20 alpha omega" id="keywordIndex_0">
                
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/simingqu_s108d319/" target="_self">思明区</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/huliqu_s131d319/" target="_self">湖里区</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/zengcuoan_s166d319/" target="_self">曾厝垵</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/gulangyu_s169d319/" target="_self">鼓浪屿</a></div>
                    
                </li>
            </ul> 
            
            <ul class="clearfix   ml5 mr5 pb5 ovh">
                <li class="grid_4 alpha omega">房型：<a  href="javascript:void(0);" target="_self" class="selected">不限</a></li>
                
                <li class="grid_20 alpha omega" id="keywordIndex_1">
                
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/h1d319/" target="_self">一室</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/h3d319/" target="_self">三室</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/h11d319/" target="_self">平层</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/h12d319/" target="_self">别墅</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/h13d319/" target="_self">复式</a></div>
                    
                </li>
            </ul> 
            
            <ul class="clearfix   ml5 mr5 pb5 ovh">
                <li class="grid_4 alpha omega">价格：<a  href="javascript:void(0);" target="_self" class="selected">不限</a></li>
                
                <li class="grid_20 alpha omega" id="keywordIndex_2">
                
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/p1d319/" target="_self">¥200以下</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/p2d319/" target="_self">¥200-300</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/p3d319/" target="_self">¥300-500</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/p4d319/" target="_self">¥500-800</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/p5d319/" target="_self">¥800以上</a></div>
                    
                </li>
            </ul> 
            
            <ul class="clearfix   ml5 mr5 pb5 ovh">
                <li class="grid_4 alpha omega">景观：<a  href="javascript:void(0);" target="_self" class="selected">不限</a></li>
                
                <li class="grid_20 alpha omega" id="keywordIndex_3">
                
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/v1d319/" target="_self">山景</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/v2d319/" target="_self">海景</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a  href="/xiamen_gongyu/v3d319/" target="_self">园景</a></div>
                    
                </li>
            </ul> 
            
            <ul class="clearfix   ml5 mr5 pb5 ovh">
                <li class="grid_4 alpha omega">小区：<a rel="nofollow"  href="/xiamen_gongyu/" target="_self" >不限</a></li>
                
                <li class="grid_20 alpha omega" id="keywordIndex_4">
                
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/d251/" target="_self">海峡国际社区</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/d254/" target="_self">芭厘海岸</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/d257/" target="_self">老别墅旅馆</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/d264/" target="_self">玫瑰屋</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/d274/" target="_self">林氏府</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/d296/" target="_self">悦雅居</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/d307/" target="_self">七里香舍</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow" class="selected" href="javascript:void(0)" target="_self">万达公寓</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/d395/" target="_self">翠湖庄园</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/d465/" target="_self">磐诺兆</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/d452/" target="_self">水生门</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/d453/" target="_self">摩登世家时尚店</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/d456/" target="_self">摩登世家精品店</a></div>
                    
                </li>
            </ul> 
            
            <ul class="clearfix   ml5 mr5 pb5 ovh">
                <li class="grid_4 alpha omega">特色：<a rel="nofollow"  href="javascript:void(0);" target="_self" class="selected">不限</a></li>
                
                <li class="grid_20 alpha omega" id="keywordIndex_5">
                
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/t1d319/" target="_self">无敌海景</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/t2d319/" target="_self">海景</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/t3d319/" target="_self">园景</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/t6d319/" target="_self">山景</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/t9d319/" target="_self">简约风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di" ><a rel="nofollow"  href="/xiamen_gongyu/t10d319/" target="_self">地中海风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t11d319/" target="_self">泰式风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t12d319/" target="_self">中式风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t13d319/" target="_self">西班牙风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t14d319/" target="_self">欧式风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t15d319/" target="_self">日韩风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t16d319/" target="_self">田园风格</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t20d319/" target="_self">榻榻米</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t22d319/" target="_self">超高层</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t23d319/" target="_self">开放式</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t24d319/" target="_self">复式</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t26d319/" target="_self">南北通透</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t28d319/" target="_self">联排别墅</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t30d319/" target="_self">独栋别墅</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t31d319/" target="_self">观景露台</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t32d319/" target="_self">观景阳台</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t35d319/" target="_self">三阳台</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t37d319/" target="_self">中央空调</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t38d319/" target="_self">大浴缸</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t40d319/" target="_self">吧台</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t42d319/" target="_self">棋牌室</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t45d319/" target="_self">健身房</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t48d319/" target="_self">私家花园</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t55d319/" target="_self">交通便利</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t57d319/" target="_self">机场</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t63d319/" target="_self">热带天堂森林公园</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t70d319/" target="_self">情侣度假</a></div>
                    
                    <div class="labelBox  fl ml5 mr5 di"  style="display:none;"><a rel="nofollow"  href="/xiamen_gongyu/t71d319/" target="_self">养生休闲</a></div>
                    
                </li>
            </ul> 
            

		<ul class="clearfix grid_24 lh24 ml5 mr5 pb5 ovh" id="matching">
            
            <li class="grid_4 alpha omega">配套：<a rel="nofollow" href="javascript:void(0)" class="selected">不限</a></li>
            
			
			<li class="grid_20 alpha omega">
                
               <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/ho1d319/" type="checkbox" name="HouseFacilities" /><strong class="vm ml5">宽带</strong></label></div>
                
                
                <div class="labelBox  fl ml5 mr5 di"><label><input type="checkbox" link="/xiamen_gongyu/ho2d319/" name="HouseFacilities" /><strong class="vm ml5">有线电视</strong></label></div>
                
                

                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/ho4d319/" type="checkbox" name="HouseFacilities" /><strong class="vm ml5">全天热水</strong></label></div>
                
                
                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/go5d319/" type="checkbox" name="Goods" /><strong class="vm ml5">洗衣机</strong></label></div>
                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/go4d319/" type="checkbox" name="Goods" /><strong class="vm ml5">电冰箱</strong></label></div>
                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/su4d319/" type="checkbox" name="Suitabilities" /><strong class="vm ml5">做饭</strong></label></div>
                
                
                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/su1d319/" type="checkbox" name="Suitabilities" /><strong class="vm ml5">吸烟</strong></label></div>
                
                
               <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/su8d319/" type="checkbox" name="Suitabilities" /><strong class="vm ml5">聚会</strong></label></div>
                
                
                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/su2d319/" type="checkbox" name="Suitabilities" /><strong class="vm ml5">带宠物</strong></label></div>
                
                <div class="labelBox  fl ml5 mr5 di"><label><input link="/xiamen_gongyu/go3d319/" type="checkbox" name="Goods" /><strong class="vm ml5">空调</strong></label></div>
                
                <div class="grid_3"><label><input link="/xiamen_gongyu/ho8d319/" type="checkbox" name="HouseFacilities" /><strong class="vm ml5">电梯</strong></label></div>
                
                
                <div class="grid_3"><label><input link="/xiamen_gongyu/ho16d319/" type="checkbox" name="HouseFacilities" /><strong class="vm ml5">门禁</strong></label></div>
			</li>
		</ul>
		<div class="grid_24 pr mt10" id="expand">
            <div class="pt5">
                <div id="totalcountArea">共有 <strong class="fb">59</strong>  套房屋符合搜索条件</div>
                <div id="loading" style="display:none;"><img src='http://staticfile.tujia.com/Common/images/loader.gif'/>正在重新加载数据......</div>
             </div>
             <span class="btn pa cur h24">展开筛选条件</span></div>
	</div>
</div>



<div id="untiListArea" class="container_24">
    <div class="clearfix grid_24 mt10" id="sort">
    <div class="grid_19 omega">
	    <div class="sort_btn" id="sortArea">
            <a href="javascript:void(0)" link="" class="current" name="TujiaRecommendedSort"><b>途家推荐</b></a><a href="javascript:void(0)" link="/xiamen_gongyu/o6d319/"  name="GrossAreaSort"><b><em></em>面积</b></a><a href="javascript:void(0)" link="/xiamen_gongyu/o3d319/"  name="GrossAreaSort" name="PriceSort"><b><em></em>价格</b></a>
	    </div>
	    <div class="priceRange fl ml2" id="priceRange">
            
        
		    <span><input type="text" name="MinPriceValue" id="MinPriceValue"  class="number pl2 pr2 mr5 ml5 ft c6" value="" /><em>&#126;</em><input type="text" name="MaxPriceValue" id="MaxPriceValue"  class="number pl2 pr2 mr5 ml5 ft c6" value="" /><br />
		    <input type="button" value="确定"  class="btn" link="/xiamen_gongyu/ps0-0d319/"/></span>
	    </div>
	<div class="base_labe">
        
          <label class="dib pr10"><input type="checkbox" link="/xiamen_gongyu/pr1d319/" name="OnlyPromotionUnit" class="ck"/><strong  class="pl5 vm">优惠</strong></label>
        
        <label class="dib pr10"><input type="checkbox" link="/xiamen_gongyu/hm1d319/" name="EnumHotelManagementType" class="ck"/><strong  class="pl5 vm">途家自营</strong></label>
        
        <label class="dib pr10"><input type="checkbox" link="/xiamen_gongyu/fs1d319/" name="EnumFeaturedServices" class="ck"/><strong  class="pl5 vm">免费接机</strong></label>
        
	</div>
</div>
<div class="grid_5 alpha tr" id="viewTypeArea">
    <%= link_to "New", new_room_path, :class => 'btn btn-primary' %>

    <a href="/xiamen_gongyu/l2d319/"><em class="ico_map" title="地图模式"></em><b>地图</b></a>
    
      <a href="javascript:void(0)" class="current"><em class="ico_list" title="列表模式"></em><b>列表</b></a>
    
</div>
</div>

<div id="scr_list_box" class="grid_24">
    <%= render @rooms %>
    <%= paginate @rooms %>
</div>

</div>

</div>


	<div id="contrast" class="dn">
		<div class="contrastTitle"><strong>房屋对比</strong></div>
		<div class="contrastList clearfix">
			<ul style="height:175px;" id="contrastBox">
			</ul>
		</div>
		<div class="contrastBtm">
            <span><a href="javascript:void(0)" class="slideup">收起</a></span>
			<p><a href="javascript:void(0)" class="clearBtn">清空房屋列表</a><a href="javascript:void(0)" class="startBtn">开始对比</a></p>

		</div>
	</div>

    <div id="compareSmall" class="tr">
        <div class="compareHidden">
            <img id="compareClose" src='http://staticfile.tujia.com/PortalSite2/Images/compareClose.png' width="10" height="10" alt="" class="vt" />
            <span id="compareShow" class="db tc" style="margin-top:-4px">展开</span>
         </div>
    </div>
<script type="text/javascript">
    var getPriceUrl = '/compareunit/GetPrices/';
</script>

    
     <script type="text/javascript">
          var staticFileRoot = "http://staticfile.tujia.com",
               minDate = "2012-12-08",
               maxDate = "2013-11-08",
               houseId;
               
               var cityInfo = {"citys":[{"id":1,"name":"三亚","pinyin":"sanya","keyword":["sy"]},{"id":7,"name":"杭州","pinyin":"hangzhou","keyword":["hz"]},{"id":10,"name":"成都","pinyin":"chengdu","keyword":["cd"]},{"id":9,"name":"南京","pinyin":"nanjing","keyword":["nj"]},{"id":33,"name":"厦门","pinyin":"xiamen","keyword":["xm"]},{"id":8,"name":"青岛","pinyin":"qingdao","keyword":["qd"]},{"id":32,"name":"桂林","pinyin":"guilin","keyword":["gl"]},{"id":11,"name":"苏州","pinyin":"suzhou","keyword":["sz"]},{"id":12,"name":"丽江","pinyin":"lijiang","keyword":["lj"]},{"id":28,"name":"西塘","pinyin":"xitang","keyword":["xt"]},{"id":36,"name":"大理","pinyin":"dali","keyword":["dl"]},{"id":17,"name":"西安","pinyin":"xian","keyword":["xa"]},{"id":18,"name":"大连","pinyin":"dalian","keyword":["dl"]},{"id":22,"name":"重庆","pinyin":"chongqing","keyword":["cq"]},{"id":30,"name":"威海","pinyin":"weihai","keyword":["wh"]},{"id":44,"name":"烟台","pinyin":"yantai","keyword":["yt"]},{"id":29,"name":"蓬莱","pinyin":"penglai","keyword":["pl"]},{"id":45,"name":"广州","pinyin":"guangzhou","keyword":["gz"]},{"id":6,"name":"黄山","pinyin":"huangshan","keyword":["hs"]},{"id":23,"name":"上海","pinyin":"shanghai","keyword":["sh"]},{"id":13,"name":"周庄","pinyin":"zhouzhuang","keyword":["zz"]},{"id":14,"name":"无锡","pinyin":"wuxi","keyword":["wx"]},{"id":16,"name":"宁波","pinyin":"ningbo","keyword":["nb"]},{"id":19,"name":"济南","pinyin":"jinan","keyword":["jn"]},{"id":20,"name":"舟山","pinyin":"zhoushan","keyword":["zs"]},{"id":4,"name":"文昌","pinyin":"wenchang","keyword":["wc"]},{"id":15,"name":"九寨沟","pinyin":"jiuzhaigou","keyword":["jzg"]},{"id":21,"name":"常州","pinyin":"changzhou","keyword":["cz"]},{"id":25,"name":"延安","pinyin":"yanan","keyword":["ya"]},{"id":27,"name":"镇江","pinyin":"zhenjiang","keyword":["zj"]},{"id":26,"name":"扬州","pinyin":"yangzhou","keyword":["yz"]},{"id":35,"name":"营口","pinyin":"yingkou","keyword":["yk"]},{"id":38,"name":"枣庄","pinyin":"zaozhuang","keyword":["zz"]},{"id":34,"name":"盱眙","pinyin":"xuyi","keyword":["xy"]},{"id":2,"name":"博鳌(琼海)","pinyin":"boao","keyword":["ba","qionghai","qh"]},{"id":37,"name":"平遥","pinyin":"pingyao","keyword":["py"]},{"id":43,"name":"万宁","pinyin":"wanning","keyword":["wn"]},{"id":42,"name":"庐山","pinyin":"lushan","keyword":["ls"]},{"id":31,"name":"昆明","pinyin":"kunming","keyword":["km"]},{"id":46,"name":"昆山","pinyin":"kunshan","keyword":["ks"]},{"id":48,"name":"北京","pinyin":"beijing","keyword":["bj"]},{"id":49,"name":"深圳","pinyin":"shenzhen","keyword":["sz"]},{"id":50,"name":"合肥","pinyin":"hefei","keyword":["hf"]},{"id":3,"name":"五指山","pinyin":"wuzhishan","keyword":["wzs"]},{"id":51,"name":"珠海","pinyin":"zhuhai","keyword":["zh"]},{"id":52,"name":"南通","pinyin":"nantong","keyword":["nt"]},{"id":54,"name":"盐城","pinyin":"yancheng","keyword":["yc"]},{"id":55,"name":"武汉","pinyin":"wuhan","keyword":["wh"]},{"id":56,"name":"腾冲","pinyin":"tengchong","keyword":["tc"]},{"id":59,"name":"婺源","pinyin":"wuyuan","keyword":["wy"]},{"id":47,"name":"栖霞(烟台)","pinyin":"qixia","keyword":["qx","yantai","yt"]},{"id":40,"name":"峨眉山","pinyin":"emeishan","keyword":["ems"]},{"id":39,"name":"连云港","pinyin":"lianyungang","keyword":["lyg"]},{"id":41,"name":"都江堰","pinyin":"dujiangyan","keyword":["djy"]},{"id":58,"name":"西双版纳","pinyin":"xishuangbanna","keyword":["xsbn"]},{"id":61,"name":"普洱市","pinyin":"puershi","keyword":["pes"]}],"lettergroups":[{"id":1,"name":"A - K","cityids":[48,2,21,10,22,36,18,41,40,45,32,7,50,6,19,15,31,46]},{"id":2,"name":"L - S","cityids":[39,12,42,9,52,16,29,37,61,8,47,1,23,49,11]},{"id":3,"name":"T - Z","cityids":[56,43,30,4,55,14,62,59,3,33,17,58,28,57,34,25,54,26,44,35,38,60,27,20,13,51]}],"hotgroup":{"name":"热门城市","cityids":[1,7,10,9,33,8,32,11,12,28,36,17,18,22,30,44,29,45,6,23]}};
               
     </script>
    
<script type="text/javascript">var CLOST_IMG_SRC = "http://staticfile.tujia.com/PortalSite2/images/close.png", RATY_PATH="http://staticfile.tujia.com/PortalSite2/Images/comments/", CURRENT_DESTINATION_NAME="厦门";
</script>

<script src="http://api.map.baidu.com/api?key=0da25a1d9d14e87463c8d5a419209498&amp;v=1.1&amp;services=false" type="text/javascript"></script>

<script type="text/javascript" id="bdshare_js" data="type=slide&amp;img=0&amp;pos=right&amp;uid=668148" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
var bds_config={"bdTop":90};
</script>
<script type="text/javascript">
    //document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date() / 3600000);
</script>
<!-- Baidu Button END -->


<script type="text/javascript" src="http://staticfile.tujia.com/PortalSite2/scripts/js_list_foot?v=2.2"></script>
